@page
@using MarshallStore.Areas.MarshallStore.Models
@model MarshallStore.Areas.MarshallStore.Pages.ProductNonQueryPageModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int ProductId;
    int ProductCategoryId;
    string Producer;
    string Model;
    decimal Price;
    string Description;
    string Image1;
    string Image2;
    string Image3;
    

    if(HttpContext.Request.QueryString.Value.Contains("?ProductId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        ProductId = 0;
        ProductCategoryId = 0;
        Producer = "";
        Model = "";
        Price = 0M;
        Description = "";
        Image1 = "";
        Image2 = "";
        Image3 = "";
        
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        ProductModel ProductModel = new ProductModel().Select1ByProductIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?ProductId=","")));

        ProductId = ProductModel.ProductId;
        ProductCategoryId = ProductModel.ProductCategoryId;
        Producer = ProductModel.Producer;
        Model = ProductModel.Model;
        Price = ProductModel.Price;
        Description = ProductModel.Description;
        Image1 = ProductModel.Image1;
        Image2 = ProductModel.Image2;
        Image3 = ProductModel.Image3;
        
    }

    List<ProductCategoryModel> lstProductCategoryModel = new ProductCategoryModel().SelectAllToList();


/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2023
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 31/07/2023 14:32:16

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 class="h2 text-white d-inline-block mb-0">
                        @NonQueryText 
                        product
                    </h2>
                    <input type="hidden" 
                        id="marshallstore-product-productid-input" 
                        value="@ProductId"/>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="/CMSCore/DashboardIndex">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    MarshallStore
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    Product
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/MarshallStore/ProductQueryPage" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/MarshallStore/ProductQueryPage" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <!-- ProductCategoryId -->
                            <div class="form-group mb-3">
                                <label class="form-control-label">
                                    <i class="fas fa-hashtag"></i> ProductCategoryId
                                </label>
                                <br/>
                                <button type="button" 
                                    class="btn btn-outline-primary border-0" 
                                    data-toggle="modal" 
                                    data-target="#modal-foreign-key-code-selector">
                                        <i class="fas fa-hashtag"></i>
                                </button>
                                <ul id="marshallstore-product-productcategoryid-list"
                                    class="nav nav-pills nav-fill flex-column flex-sm-row" 
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active" 
                                            data-toggle="tab" 
                                            href="javascript:void(0)" 
                                            role="tab" 
                                            aria-controls="" 
                                            aria-selected="true">
                                                Choose a value
                                        </a>
                                        <input type="hidden" 
                                            id="marshallstore-product-productcategoryid-input"
                                            value="@ProductCategoryId"/>
                                    </li>
                                </ul>
                                <p class="text-danger text-sm">
                                    <b>This value is required.</b>
                                </p>
                            </div>
                        <!-- Producer -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-product-producer-input" class="form-control-label">
                                <i class="fas fa-font"></i> Producer
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="300" 
                                type="text" 
                                id="marshallstore-product-producer-input" 
                                value="@Producer"
                                />
                            
                        </div>
                        <!-- Model -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-product-model-input" class="form-control-label">
                                <i class="fas fa-font"></i> Model
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="300" 
                                type="text" 
                                id="marshallstore-product-model-input" 
                                value="@Model"
                                />
                            
                        </div>
                        <!-- Price -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-product-price-input" class="form-control-label">
                                <i class="fas fa-divide"></i> Price
                            </label>
                            <input class="form-control" 
                                type="number" 
                                id="marshallstore-product-price-input"
                                value="@(Convert.ToDouble(Price))" 
                                min="0" 
                                max="999999000.000000" 
                                step=".01" 
                                pattern="^\d*(\.\d{0,2})?$" 
                                >
                            
                        </div>
                        <!-- Description -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-product-description-input" class="form-control-label">
                                <i class="fas fa-font"></i> 
                                Description
                            </label>
                            <textarea class="form-control mt-1" 
                                id="marshallstore-product-description-input" 
                                rows="3" 
                                resize="none" 
                                >
                                    @Description
                            </textarea>
                            
                        </div>
                        <!-- Image1 -->
                        <div class="form-group">
                            <label class="form-control-label">
                                <i class="fas fa-file"></i> Image1
                            </label>
                            <br/>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview img-thumbnail" 
                                    data-trigger="fileinput" 
                                    style="width: 200px; height: 150px;">
                                </div>
                                <div>
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new">Select file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" 
                                            min="1" 
                                            max="8000" 
                                            id="marshallstore-product-image1-input" 
                                            value=""/>
                                    </span>
                                    <a href="#" class="btn btn-outline-danger fileinput-exists" data-dismiss="fileinput">
                                        Remove
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" 
                                min="1" 
                                max="8000" 
                                id="marshallstore-product-image1-readonly" 
                                value="@Image1"/>
                            <br />
                            @if (@Image1 == ""){
                                
                            }
                            else
                            {
                                <a class="btn btn-info btn-sm"
                                    href="@Image1"
                                    download>
                                        <i class="fas fa-download"></i>
                                        Download file
                                </a>
                            }
                        </div>
                        <!-- Image2 -->
                        <div class="form-group">
                            <label class="form-control-label">
                                <i class="fas fa-file"></i> Image2
                            </label>
                            <br/>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview img-thumbnail" 
                                    data-trigger="fileinput" 
                                    style="width: 200px; height: 150px;">
                                </div>
                                <div>
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new">Select file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" 
                                            min="1" 
                                            max="8000" 
                                            id="marshallstore-product-image2-input" 
                                            value=""/>
                                    </span>
                                    <a href="#" class="btn btn-outline-danger fileinput-exists" data-dismiss="fileinput">
                                        Remove
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" 
                                min="1" 
                                max="8000" 
                                id="marshallstore-product-image2-readonly" 
                                value="@Image2"/>
                            <br />
                            @if (@Image2 == ""){
                                
                            }
                            else
                            {
                                <a class="btn btn-info btn-sm"
                                    href="@Image2"
                                    download>
                                        <i class="fas fa-download"></i>
                                        Download file
                                </a>
                            }
                        </div>
                        <!-- Image3 -->
                        <div class="form-group">
                            <label class="form-control-label">
                                <i class="fas fa-file"></i> Image3
                            </label>
                            <br/>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview img-thumbnail" 
                                    data-trigger="fileinput" 
                                    style="width: 200px; height: 150px;">
                                </div>
                                <div>
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new">Select file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" 
                                            min="1" 
                                            max="8000" 
                                            id="marshallstore-product-image3-input" 
                                            value=""/>
                                    </span>
                                    <a href="#" class="btn btn-outline-danger fileinput-exists" data-dismiss="fileinput">
                                        Remove
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" 
                                min="1" 
                                max="8000" 
                                id="marshallstore-product-image3-readonly" 
                                value="@Image3"/>
                            <br />
                            @if (@Image3 == ""){
                                
                            }
                            else
                            {
                                <a class="btn btn-info btn-sm"
                                    href="@Image3"
                                    download>
                                        <i class="fas fa-download"></i>
                                        Download file
                                </a>
                            }
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button class="btn btn-primary text-nowrap ml-3 mt-4" 
                                type="submit">
                                    <i class="@NonQueryIcon"></i> 
                                    @NonQueryText
                            </button>
                            <a href="/MarshallStore/ProductQueryPage" 
                                class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                    <i class="fas fa-angle-left"></i> 
                                    Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">
                            Choose a category value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="marshallstore-product-productcategoryid-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                        @{
                                            foreach (ProductCategoryModel ProductCategoryModel in lstProductCategoryModel)
                                            {
                                                <option value="@ProductCategoryModel.ProductCategoryId" >@ProductCategoryModel.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/MarshallStore/Product/jQuery/ProductNonQuery_jQuery.js"></script>
