@page
@using MarshallStore.Areas.MarshallStore.Models
@model MarshallStore.Areas.MarshallStore.Pages.PurchaseNonQueryPageModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int PurchaseId;
    decimal FullPrice;
    string FirstName;
    string LastName;
    string Email;
    string Phone;
    string StreetAddress;
    string PostCodeOrZip;
    string City;
    string Country;
    string CardNumber;
    string CardHolder;
    string Expiration;
    string CVC;
    

    if(HttpContext.Request.QueryString.Value.Contains("?PurchaseId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        PurchaseId = 0;
        FullPrice = 0M;
        FirstName = "";
        LastName = "";
        Email = "";
        Phone = "";
        StreetAddress = "";
        PostCodeOrZip = "";
        City = "";
        Country = "";
        CardNumber = "";
        CardHolder = "";
        Expiration = "";
        CVC = "";
        
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        PurchaseModel PurchaseModel = new PurchaseModel().Select1ByPurchaseIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?PurchaseId=","")));

        PurchaseId = PurchaseModel.PurchaseId;
        FullPrice = PurchaseModel.FullPrice;
        FirstName = PurchaseModel.FirstName;
        LastName = PurchaseModel.LastName;
        Email = PurchaseModel.Email;
        Phone = PurchaseModel.Phone;
        StreetAddress = PurchaseModel.StreetAddress;
        PostCodeOrZip = PurchaseModel.PostCodeOrZip;
        City = PurchaseModel.City;
        Country = PurchaseModel.Country;
        CardNumber = PurchaseModel.CardNumber;
        CardHolder = PurchaseModel.CardHolder;
        Expiration = PurchaseModel.Expiration;
        CVC = PurchaseModel.CVC;
        
    }

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2023
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 03/08/2023 18:27:16

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 class="h2 text-white d-inline-block mb-0">
                        @NonQueryText 
                        purchase
                    </h2>
                    <input type="hidden" 
                        id="marshallstore-purchase-purchaseid-input" 
                        value="@PurchaseId"/>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="/CMSCore/DashboardIndex">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    MarshallStore
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    Purchase
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/MarshallStore/PurchaseQueryPage" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/MarshallStore/PurchaseQueryPage" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <!-- FullPrice -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-fullprice-input" class="form-control-label">
                                <i class="fas fa-divide"></i> FullPrice
                            </label>
                            <input class="form-control" 
                                type="number" 
                                id="marshallstore-purchase-fullprice-input"
                                value="@(Convert.ToDouble(FullPrice))" 
                                min="0" 
                                max="999999000.000000" 
                                step=".01" 
                                pattern="^\d*(\.\d{0,2})?$" 
                                >
                            
                        </div>
                        <!-- FirstName -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-firstname-input" class="form-control-label">
                                <i class="fas fa-font"></i> FirstName
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="300" 
                                type="text" 
                                id="marshallstore-purchase-firstname-input" 
                                value="@FirstName"
                                />
                            
                        </div>
                        <!-- LastName -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-lastname-input" class="form-control-label">
                                <i class="fas fa-font"></i> LastName
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="300" 
                                type="text" 
                                id="marshallstore-purchase-lastname-input" 
                                value="@LastName"
                                />
                            
                        </div>
                        <!-- Email -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-email-input" class="form-control-label">
                                <i class="fas fa-at"></i> Email
                            </label>
                            <input class="form-control" 
                                type="email" 
                                min="1" 
                                max="370" 
                                id="marshallstore-purchase-email-input" 
                                value="@Email" 
                                />
                            
                        </div>
                        <!-- Phone -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-phone-input" class="form-control-label">
                                <i class="fas fa-phone"></i> 
                                Phone
                            </label>
                            <input class="form-control mt-2" 
                                min="1" 
                                max="500" 
                                type="tel" 
                                id="marshallstore-purchase-phone-input" 
                                value="@Phone" 
                                />
                            
                        </div>
                        <!-- StreetAddress -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-streetaddress-input" class="form-control-label">
                                <i class="fas fa-font"></i> 
                                StreetAddress
                            </label>
                            <textarea class="form-control mt-1" 
                                id="marshallstore-purchase-streetaddress-input" 
                                rows="3" 
                                resize="none" 
                                >
                                    @StreetAddress
                            </textarea>
                            
                        </div>
                        <!-- PostCodeOrZip -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-postcodeorzip-input" class="form-control-label">
                                <i class="fas fa-font"></i> PostCodeOrZip
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="100" 
                                type="text" 
                                id="marshallstore-purchase-postcodeorzip-input" 
                                value="@PostCodeOrZip"
                                />
                            
                        </div>
                        <!-- City -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-city-input" class="form-control-label">
                                <i class="fas fa-font"></i> City
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="300" 
                                type="text" 
                                id="marshallstore-purchase-city-input" 
                                value="@City"
                                />
                            
                        </div>
                        <!-- Country -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-country-input" class="form-control-label">
                                <i class="fas fa-font"></i> Country
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="300" 
                                type="text" 
                                id="marshallstore-purchase-country-input" 
                                value="@Country"
                                />
                            
                        </div>
                        <!-- CardNumber -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-cardnumber-input" class="form-control-label">
                                <i class="fas fa-font"></i> CardNumber
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="50" 
                                type="text" 
                                id="marshallstore-purchase-cardnumber-input" 
                                value="@CardNumber"
                                />
                            
                        </div>
                        <!-- CardHolder -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-cardholder-input" class="form-control-label">
                                <i class="fas fa-font"></i> CardHolder
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="400" 
                                type="text" 
                                id="marshallstore-purchase-cardholder-input" 
                                value="@CardHolder"
                                required/>
                            <div class="invalid-feedback">
                                    This value is required.
                                </div>
                        </div>
                        <!-- Expiration -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-expiration-input" class="form-control-label">
                                <i class="fas fa-font"></i> Expiration
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="10" 
                                type="text" 
                                id="marshallstore-purchase-expiration-input" 
                                value="@Expiration"
                                />
                            
                        </div>
                        <!-- CVC -->
                        <div class="form-group mb-3">
                            <label for="marshallstore-purchase-cvc-input" class="form-control-label">
                                <i class="fas fa-font"></i> CVC
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="10" 
                                type="text" 
                                id="marshallstore-purchase-cvc-input" 
                                value="@CVC"
                                />
                            
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button class="btn btn-primary text-nowrap ml-3 mt-4" 
                                type="submit">
                                    <i class="@NonQueryIcon"></i> 
                                    @NonQueryText
                            </button>
                            <a href="/MarshallStore/PurchaseQueryPage" 
                                class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                    <i class="fas fa-angle-left"></i> 
                                    Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">
                            Choose a ForeignKeyDropDown value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="marshallstore-purchase-foreignkeydropdown-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/MarshallStore/Purchase/jQuery/PurchaseNonQuery_jQuery.js"></script>
on> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/MarshallStore/Purchase/jQuery/PurchaseNonQuery_jQuery.js"></script>
