@page "/Cart"
@using MarshallStore.Areas.MarshallStore.Models;
@using Microsoft.AspNetCore.Http;
@model MarshallStore.Pages.CartModel
@{

    int UserId = HttpContext.Session.GetInt32("UserId") ?? 0;

    List<ShoppingCartModel> lstShoppingCartModel = new ShoppingCartModel().SelectAllByUserCreationIdToList(UserId);

    decimal SubTotalPrice = 0;
    decimal TotalPrice = 0;

    foreach(ShoppingCartModel shoppingCartModel in lstShoppingCartModel)
    {
        SubTotalPrice += shoppingCartModel.Price * shoppingCartModel.Counter;
    }

    TotalPrice = SubTotalPrice + 10;
}
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
      <div class="page-header page-header-small header-filter">
        <div class="page-header-image" style="background-image: url('../img/MarshallStore/Cart.jpg');">
        </div>
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                <h1 class="text-white">Checkout </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="container">
              <h3 class="title text-white mt-3">Order summary</h3>
              <div class="row">
                <div class="card">
                  <div class="card-body">
                      @foreach(ShoppingCartModel ShoppingCartModel in lstShoppingCartModel)
                        {
                            
                            <div class="media align-items-center mb-3">
                                <div class="col-md-5 col-6">
                                    <img src="..@ShoppingCartModel.Image1" alt="Rounded image" class="img-fluid">
                                </div>
                                <div class="media-body">
                                    <h2 class="h6">@ShoppingCartModel.Model</h2>
                                    <small class="d-block opacity-8">x @ShoppingCartModel.Counter</small>
                                    <small class="d-block opacity-8">@ShoppingCartModel.Producer</small>
                                </div>
                                <div class="media-body text-right">
                                    <span>$@ShoppingCartModel.Price</span>
                                </div>
                                <div class="media-body text-right">
                                    <i class="btn fas fa-trash text-danger marshallstore-shoppingcart-list-delete-button"></i>
                                    <input type="hidden" value="@ShoppingCartModel.ShoppingCartId">
                                </div>
                            </div>
                        }
                    <hr class="line-info mb-3">
                    <div class="media align-items-center">
                      <h3 class="h6 opacity-8 mr-3">Subtotal</h3>
                      <div class="media-body text-right">
                        <span>$@SubTotalPrice</span>
                      </div>
                    </div>
                    <div class="media align-items-center">
                      <h3 class="h6 opacity-8 mr-3">Shipping</h3>
                      <div class="media-body text-right">
                        <span>$10</span>
                      </div>
                    </div>
                    <hr class="line-info mb-3">
                    <div class="media align-items-center">
                      <h3 class="h6">Total</h3>
                      <div class="media-body text-right">
                        <span class="font-weight-semi-bold">$@TotalPrice</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <form class="needs-validation">
                <input type="hidden" value="@TotalPrice" id="marshallstore-purchase-fullprice-input"/>
                <div class="container">
                  <h3 class="title mt-3">Billing address</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="labels">
                        First name
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" class="form-control" name="firstName" placeholder="Cristopher" aria-label="Cristopher" id="marshallstore-purchase-firstname-input" required="">
                    </div>
                    <div class="col-md-6">
                      <label class="labels">
                        Last name
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" class="form-control" name="lastName" placeholder="Thompson" aria-label="Thompson" id="marshallstore-purchase-lastname-input" required="">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="js-form-message">
                        <label class="labels">
                          Email address
                          <span class="text-danger">*</span>
                        </label>
                        <input type="email" class="form-control" name="emailAddress" placeholder="thompson@gmail.com" aria-label="thompson@gmail.com" id="marshallstore-purchase-email-input" required="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="js-form-message">
                        <label class="labels">
                          Phone
                           <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="+4 (0762) 230991" aria-label="+4 (0762) 230991" id="marshallstore-purchase-phone-input" required>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="js-form-message">
                        <label class="labels">
                          Street address
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" name="streetAddress" placeholder="420 Long Beach, CA" aria-label="420 Long Beach, CA" id="marshallstore-purchase-streetaddress-input" required="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="js-form-message">
                        <label class="labels">
                          Postcode/Zip
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" name="postcode" placeholder="340112" aria-label="340112" id="marshallstore-purchase-postcodeorzip-input" required="">
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="js-form-message mb-4">
                        <label class="labels">
                          City
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" name="cityAddress" placeholder="London" aria-label="London" id="marshallstore-purchase-city-input" required="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-4">
                        <label class="labels">
                          Country
                          <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" name="country" placeholder="UK" aria-label="UK" id="marshallstore-purchase-country-input" required="">
                      </div>
                    </div>
                  </div>
                  <h4 class="title">Payment method</h4>
                  <div class="nav nav-tabs nav-tabs-primary btn-group" role="tablist">
                    <a class="btn btn-sm btn-outline-info active" data-toggle="tab" href="#link1" role="tablist">
                      Credit Card
                    </a>
                  </div>
                  <div class="tab-content tab-space">
                    <div id="link1" class="tab-pane active">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="js-form-message">
                            <label class="form-label">
                              Card number
                               <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="cardNumber" placeholder="**** **** **** ***" aria-label="**** **** **** ***" id="marshallstore-purchase-cardnumber-input" required="">
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-7">
                          <div class="js-form-message mb-4">
                            <label class="form-label">
                              Card holder
                               <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="cardHolder" placeholder="Jack Wayley" aria-label="Jack Wayley" id="marshallstore-purchase-cardholder-input" required="">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="js-form-message mb-4">
                            <label class="form-label">
                              Expiration
                               <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="cardExpirationDate" placeholder="MM/YY" aria-label="MM/YY" id="marshallstore-purchase-expiration-input" required="">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="js-form-message mb-4">
                            <label class="form-label">
                              CVC
                               <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="cardCVC" placeholder="***" aria-label="***" id="marshallstore-purchase-cvc-input" required="">
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <a href="~/Products"><span class="fas fa-angle-left mr-2"></span> Return to products</a>
                        <button type="submit" class="btn btn-info">Order now</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="~/dist/cart.bundle.js"></script>
  <script src="~/js/MarshallStore/Purchase/jQuery/PurchaseNonQuery_jQuery.js"></script>

